/*/*/*/* /* The sidebar menu */

/* Hide actual file upload buttons. */
input[type="file"] {
    display: none;
}

/*Overlay for file upload buttons. */
.custom-file-upload {
  font-family: "font-family", Quicksand, sans-serif;
  color: #664147;
  border-radius: 10px;
  border: 2px solid;  /*cursor: pointer;*/
  border-color: #C7BD94;
  display: inline-block;
  padding: 5px 5px;
  /*cursor: pointer;*/
    margin: 4px 2px;

  background-color: #E9E6D8;
  font-size: 20px;
  width: 186px;
}
/* Sidebar */
.sidenavLeft {
  width: 250px; /* Set the width of the sidebar */
  /*position: fixed;  Fixed Sidebar (stay in place on scroll) */
  /*z-index: 1;  Stay on top */
  /*top: 0;  Stay at the top */
  right: 0;
  float: left;
  background-color: #EDD4BF; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  border-radius: 5px;

}
/* Input field on the left*/
.sidenavLeft input[type=submit], input[type=file], input[type=text] {
  width: 200px;
  border: none;
  font-family: "font-family", Quicksand, sans-serif;
  font-size: 20px;
  padding: 5px 5px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 10px;
  border: 2px solid;/*cursor: pointer;*/
  border-color: #C7BD94;
  color: #664147;
  background-color: #E9E6D8;
}

/* Step size field*/
.sidenavLeft input[type=number] {
  border: none;
  font-family: "font-family", Quicksand, sans-serif;
  font-size: 20px;
  padding: 5px 5px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 10px;
  border: 2px solid;  /*cursor: pointer;*/
  border-color: #D9D2B6;
  color: #664147;
  background-color: #F8F7F2;
}

/* Step size label */
.sidenavLeft label {
  padding: 5px ;
  font-family: "font-family", Quicksand, sans-serif;
  font-size: 20px;
  color: #664147;
}

.sidenavLeft input[type=submit]:hover, input[type=file]:hover, input[type=text]:hover{
  background-color: #D0E1D4;
}
.sidenavLeft label:hover{
  background-color: #D0E1D4;
}
.sidenavLeft input[type=number]:hover{
  background-color: #D0E1D4;
}

.sidenavLeft p {
  padding: 6px ;
  font-family: "font-family", Quicksand, sans-serif;
  font-size: 20px;
  color: #664147;
  display: block;
}

.sidenavRight {
  /*height: 100%;  Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  /*position: fixed;  Fixed Sidebar (stay in place on scroll) */
  /*z-index: 1;  Stay on top */
  /*margin-top: 400;  Stay at the top */
  float: right;
  /*top: 1000;*/
  right: 0;
  background-color: #EDD4BF; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
    border-radius: 5px;

}

.sidenavRight a {
  padding: 6px 8px 6px 16px;
  font-family: "font-family", Quicksand, sans-serif;
  text-decoration: none;
  font-size: 20px;
  color: #664147;
  display: block;
}

.sidenavRight p {
  padding: 6px ;
  font-family: "font-family", Quicksand, sans-serif;
  font-size: 20px;
  color: #664147;
  display: block;
}
.sidenavRight hr {
  border: 2px dotted;
  border-color: #664147;
}

.sidenavRight input[type=submit], input[type=file]{
  border: none;
  font-family: "font-family", Quicksand, sans-serif;
  font-size: 20px;
  padding: 5px 5px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 10px;
  border: 2px solid;  /*cursor: pointer;*/
  border-color: #C7BD94;
  color: #664147;
  background-color: #E9E6D8;

}
.sidenavRight input[type=text]{
  border: none;
  font-family: "font-family", Quicksand, sans-serif;
  font-size: 20px;
  padding: 5px 5px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 10px;
  border: 2px solid;  /*cursor: pointer;*/
  border-color: #D9D2B6;
  color: #664147;
  background-color: #F8F7F2;
}

.sidenavRight input[type=submit]:hover, input[type=file]:hover, input[type=text]:hover{
  background-color: #D0E1D4;

}

/* Style on-hover tooltips*/
div.tooltip {   
    position: absolute;
    text-align: left;         
    width: 300px;                    
    height: 70px;                   
    padding: 5px;               
    font-family: "font-family", Quicksand, sans-serif;
    color: #664147;
    background: #E4BE9E; 
    border: 0px;        
    border-radius: 8px;         
    pointer-events: none;           
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */*/*/*/
